<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898779811017-6ep6do9ittl44ids3o8g0riuf3q5p0pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898779811017-6ep6do9ittl44ids3o8g0riuf3q5p0pb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898779811017-vlubqiecjqqpd9ufkp395ch7lein6m54.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACbGxZu12Qd-JaD0Bzts0v2LwuJDjmo38</string>
	<key>GCM_SENDER_ID</key>
	<string>898779811017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esof.focusly</string>
	<key>PROJECT_ID</key>
	<string>focusly-76449</string>
	<key>STORAGE_BUCKET</key>
	<string>focusly-76449.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898779811017:ios:bfbb92004b705b9be65118</string>
</dict>
</plist>